<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if entry is defined %}
        <title>{% if entry.metaTitle %} {{ entry.metaTitle }} | {% elseif entry.title %} {{ entry.title }} | {% endif %} {{ siteName }} </title>
        {% if entry.metaDescription %}<meta name="description" content="{{ entry.metaDescription }}">
        {% endif %}
        {% if entry.metaKeywords %}<meta name="keywords" content="{{ entry.metaKeywords }}">{% endif %}
      {% else %}
        <title>{% if title is defined %} {{ title }} | {% endif %} {{ siteName }} </title>
      {% endif %}
      <link rel="shortcut icon" type="img/favicon.ico" href="{{ siteUrl }}/favicon.ico"/>
      {% do view.registerCssFile('/assets/css/app.css') %}
      {% do view.registerCssFile('/assets/foundation-icons/foundation-icons.css') %}
      {% do view.registerCssFile('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css') %}
      {% do view.registerCssFile('https://fonts.googleapis.com/css?family=Lora:400i') %}
    
  </head>
  <body {% if bodyClass is defined and bodyClass|length %} class="{{ bodyClass }}" {% endif %}>

    {% include '_includes/header' %}
    <div id="mainContent">
      {% block content %}{% endblock %}
      {% include '_includes/footer' %}
    </div> <!-- /#mainContent -->

    {% do view.registerJsFile('/assets/node_modules/jquery/dist/jquery.js') %}
    {% do view.registerJsFile('/assets/node_modules/what-input/dist/what-input.js') %}
    {% do view.registerJsFile('/assets/node_modules/foundation-sites/dist/js/foundation.js') %}
    {% do view.registerJsFile('/assets/js/min/app-min.js') %}
    {% do view.registerJsFile('/assets/js/min/slick.min.js') %}
    {% do view.registerJsFile('/assets/js/min/jquery.waypoints.min.js') %}
    {% do view.registerJsFile('/assets/js/waypoints.js') %}
    
    {% js %}
      $('.slick-news').slick({
        centerMode: true,
        centerPadding: '160px',
        slidesToShow: 1,
        accessibility: true,
        arrows: true,
        dots: true,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: true,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: true,
              centerMode: true,
              centerPadding: '20px',
              slidesToShow: 1
            }
          }
        ]
      });
    {% endjs %}
  </body>
</html>
